$screen-xs: 767px;

$montserrat: 'Montserrat';

$primary01: #20ADD9;
$primary02: #ff4545;

$text-primary01: rgb(255 255 255 / 80%);
$border-primary01: #F3F3F3;

$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.9);
$black: #000000;
$yellow:yellow;

$layer-black :#04171a;
$yellow :#fec63f;

$box-shadow01: 0 1px 119px rgba(0, 0, 0, 0.15);
$btn-shadow: 0 2.01389px 2.01389px rgba(0, 0, 0, 0.25);
$transition: all 0.2s ease-in-out;

body {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  background: #0A0006;
}

.container {
  max-width: 1590px;
}

//      ****************************  Text Element  ****************************

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
  color: $white;
  font-family: $montserrat;
  @media screen and (max-width: 1199px) and (min-width : 992px){
    font-size: 40px;
    line-height: 48px;
  }
  @media screen and (max-width: 991px) and (min-width : 768px){
    font-size: 38px;
    line-height: 44px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 32px;
    line-height: 40px;
    br{
      display: none;
    }
}
  span{
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: $text-primary01;
    @media screen and (max-width: 1199px) and (min-width : 992px){
      font-size: 40px;
      line-height: 48px;
    }
    @media screen and (max-width: 991px) and (min-width : 768px){
      font-size: 38px;
      line-height: 44px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 32px;
      line-height: 40px;
  }
  }
}

h2, .h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
  color: $white;
  font-family: $montserrat;
  
  @media screen and (max-width: 1199px) and (min-width : 768px){
    font-size: 30px;
    line-height: 38px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 24px;
    line-height: 32px;
}
  span{
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: $text-primary01;
    @media screen and (max-width: 1199px) and (min-width : 768px){
      font-size: 30px;
      line-height: 38px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 24px;
      line-height: 32px;
  }
  }
  &.large{
    font-size: 32px;
    line-height: 75px;
    @media screen and (max-width: 1199px) and (min-width : 992px){
      font-size: 38px;
      line-height: 50px;
    }
    @media screen and (max-width: 991px) and (min-width : 768px){
      font-size: 32px;
      line-height: 40px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 24px;
      line-height: 32px;
  }
  }
}

h3, .h3 {
  font-family: $montserrat;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: $white;
  @media screen and (max-width: 1199px) and (min-width : 992px){
    font-size: 26px;
    list-style: 32px;
  }
  @media screen and (max-width: 991px) and (min-width : 768px){
    font-size: 24px;
    line-height: 30px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 20px;
    line-height: 28px;
}
}

.h3{
  font-size: 30px;
  line-height: 40px;
}


p, .p {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  font-family: $montserrat;
  color: $text-primary01;
  
  @media screen and (max-width: 1199px) and (min-width : 768px){
    font-size: 18px;
    line-height: 24px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 16px;
    line-height: 24px;
}
  &.medium{
    font-weight: 600;
  }
  &.large{
    font-size: 30px;
    line-height: 40px;
    @media screen and (max-width: 1199px) and (min-width : 992px){
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: 991px) and (min-width : 768px){
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 16px;
      line-height: 24px;
      br{
        display: none;
      }
  }
  }
}

span {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: $white;
  display: inline-block;
}

a, .a {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: $white;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

strong {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  font-family: $montserrat;
  color: $white;
  @media screen and (max-width: 1199px) and (min-width : 768px){
    font-size: 18px;
    line-height: 24px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 16px;
}
  span{
    font-weight: 400;
    font-size: 24px;
  line-height: 34px;
  font-family: $montserrat;
  color: $text-primary01;
  @media screen and (max-width: 1199px) and (min-width : 768px){
    font-size: 18px;
    line-height: 24px;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 16px;
}
  }
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }
}


//      ****************************  Button Element  ****************************

.btn-style{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  height: 40px;
  padding: 6px 30px 6px;
  color: $white;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  background: $primary01;
  border: 2px solid $primary01;
  transition: all .3s ease-in-out;
  z-index: 2;
  box-shadow: 6px 6px 1px 0px #185365;
  @media screen and (max-width: 1199px) and (min-width : 768px){
    font-size: 16px;
    list-style: 20px;
    height: 60px;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 6px 20px;
    font-size: 14px;
    height: auto;
    box-shadow: none;
}
  &:hover{
    transition: all .3s ease-in-out;
    background: transparent;
    color: $primary01;
  }
  &.small{
    padding: 10px 30px 11px;
    height: 47px;
    font-size: 22px;
    line-height: 28px;
    min-width: 210px;
    @media screen and (max-width: 1199px) and (min-width : 768px){
      font-size: 16px;
      line-height: 24px;
      height: 50px;
      min-width: 160px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 14px;
      line-height: 20px;
      min-width: auto;
      height: 40px;
  }
  }
  &.transparent{
    background: transparent;
    border-color: $primary01;
    color: $primary01;
  }
  &.colored-border{
    color: $primary01;
    text-transform: capitalize;
    border-radius: 60px;
    background: 0 0;
    //border-image-slice: 1!important;
    //border-image: linear-gradient(135deg,#0088CC 0%,#e36159 80%);
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, rgb(255 1 2), rgb(243 182 0 / 50%)) border-box;
    border: 2px solid transparent;
  }
  &.text{
    min-width:auto;
    height:auto;
    padding: 0 0 ;
    background: transparent;
    border: none;
    box-shadow: none;
    color: $white;
    font-size: 24px;
    @media screen and (max-width: 1199px) and (min-width : 768px){
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 16px;
  }
    span{
      font-weight: 400;
    font-size: 24px;
    color: $text-primary01;
    @media screen and (max-width: 1199px) and (min-width : 768px){
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 16px;
  }
    }
  }
  &.round{
    border-radius: 50px;
  }
  &.shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
  &.icon{
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  &.gradient{
    background: rgb(219,10,10);
    background: linear-gradient(0deg, rgba(219,10,10,1) 0%, rgba(253,219,45,1) 100%);
    border: none;
    color: white;
  }
  &.icon-circle{
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    i{
      font-size: 22px;
    }
  }
  &.pink{
    background: $primary02;
    color: $white;
    border-color: $primary02;
    &:hover{
      background: transparent;
      color: $primary02;
      border-color: $primary02;
    }
  }
}



//      ****************************  Global Element  ****************************


.form {
  .form-group {
    margin-bottom: 24px;
  }
  label{
    color: $black;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 5px;
    }
  }
  .form-control {
    border-radius: 8px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    height: 64px;
    padding: 8px 17px 8px;
    border: none;
    color: $text-primary01;
    position: relative;
    outline: none;
    appearance: none;
    background-color: $white;
    @media screen and (max-width: 991px) {
      height: 55px;
    }
    &::placeholder {
      color: $text-primary01;
    }
    &:focus{
      box-shadow: none;
    }
  }

  input[type="checkbox"] {
    border: 1px solid $border-primary01;
    border-radius: 4px;
  }
}

